* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #EFF0F5;display: flex;
    justify-content: center;
    align-items: center;
}



.cover {
    width: 50%;
    height: 50%;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.head h3 {
    font-size: 22px;
}

.head p {
    font-size: 12px;
}

.head p a {
    color: #419CC4;
    text-decoration: none;
}

form {
    padding: 30px 30px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feilds {
    width: 80%;
}

.provi {
    width: 50%;
    /* background-color: green; */
}

label {
    font-size: 12px;
}

.input-wrapper {
    width: 380px;
    height: 40px;
    background-color: white;
    border: 1.5px solid #DDDDDD;
    padding: 0px 3px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s;
}

.input-wrapper input {
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
}
.input-wrapper input::placeholder{
    color:#c9c3c3;
    font-weight: 600;
}
.input-wrapper i {
    color: #DADADA;
    font-size: 25px;
    cursor: pointer;
}

.input-wrapper.active {
    border-color: #F85606;
}
#llogin{
    width: 305px;
    height: 48px;
    background-color: #F57224;
    cursor: pointer;
outline: none;
border: none;
font-weight: 600;
color: white;
font-size: 19px;
border-radius: 4px;
}
#lloginnnn{
    width: 305px;
    height: 48px;
    background-color: #F57224;
    cursor: pointer;
outline: none;
border: none;
font-weight: 600;
color: white;
font-size: 19px;
border-radius: 4px;
}
#lloginn{
    width: 305px;
    height: 48px;
    background-color: #F57224;
    cursor: pointer;
outline: none;
border: none;
font-weight: 600;
color: white;
font-size: 19px;
border-radius: 4px;
}
#uni{
    display: none;
} 
#unii{
    display: none;
} 
#uniii{
    display: none;
} 
.nain{
    width: 100%;
    height: 100%;display: flex; background-color: #EFF0F5;
    justify-content: center;
    align-items: center;
    display: none;
}
@media screen and (max-width: 1500px) {
    body{
        width: 100%;
     
    }
    .main,.nain{
       
        width: 100%;
        background-color: white;
    }
  .lcqwiofib,.qaswexrcgvhbjnkm{
    flex-direction: column;
    display: flex;justify-content: center;
    text-align: center;
    padding: 5px;
    background: transparent;
    /* display: flex;justify-content: center; */
    width: 100%;


  }
  .cover{
    height: 100vh;
    width: 100%;
    
  }.provi{
    width: 100%;
   height: 100%;
text-align: center;

  }
#lloginnnn{
    width: 76%;
}
#llogin{
    width: 76%;
}
  .feilds{
    width: 100%;
   text-align: center;
  }
  .head h3 {
    font-size: 15px;
}
.input-wrapper{
    width: 100%;
}

.head p {
    font-size: 7.9px;
}
}
@media screen and (max-width: 400px) {
  .head{
    flex-direction: column;
    text-align: center;
   
  }
  .head h3 {
    font-size: 20px;
}


.head p {
    font-size: 18px;
}
.kmkmk{
    flex-direction: column;
    padding: 0px;
    gap: 0;
}
}
.fullpages{
    width: 100%;
    height: 100%;
    /* display: none; */
}
.fco{
    /* background-color: red; */
    width: 100%;
    height: 100%;
}
#class{
    font-size: 39px;
    color: white;  transition: all ease-in-out 0.3s;
}
#class:hover{
      color:#ffffffc2;
}

.fullcover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
height: 100%;
}
.nav{
    width: 100%;
    top: 0;
    position: sticky;
   
    background-color: #F85606;
display: flex;
justify-content: center;
align-items: center;
}
#pkaprat{
    width: 100%;
    height: 100%;
}
#popup{
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 0, 0.274); */
    display: flex;justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
}
.papapop{
    width: 50%;
    height: 40%;
    background-color: #fff;
    /* position: absolute; */
border-radius: 10px;overflow: hidden;
padding: 10px;
}
#poplop{
    width: 100%;
    height: 100%;
}.pophe{
    width: 100%;
    display: flex;
    justify-content: space-around;

}.pobo{
    width: 100%;
    height: 80%;
    background-color: white;
/* padding-bottom: 10px; */
}
.navigation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logout{
  
    background-color: rgba(0, 0, 0, 0.329);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}
#remoad{
  
    background-color: rgba(0, 0, 0, 0.329);
    color: #fff;
    font-size: 13px;
    padding: 5px 0px;
    font-weight: 500;
    border-radius: 10px;
}

.ffpage {
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: -1; /* Ensure the slider is behind other elements */
}

.swiper {
      width: 100%;
      height: 100%;
    }

.swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.nav .dropdown-menu {
    position: absolute;
    z-index: 9999; /* Ensure dropdown is above all other content */
}

.nav .dropdown-toggle {
    cursor: pointer;
}

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
#rszxcghvbvhyfyjb{
 display: none;
}
.header button:hover{
    color:#ffffffc2;
}
@media screen and (max-width: 740px) {

  .header ul li{
   font-size: 8px;
  }
  .header button{
padding: 5px 5px 5px 5px;
height: 0%;text-align: center;
font-size: 10px;
  }
  .header button img{
    width: 15px;
    height: 15px;
  }
  .navigation .logo img{
    width: 100px;
  }
}
@media screen and (max-width: 500px) {
    .iconsnpic{
        width: 100%;
        display: flex;justify-content: space-between;
    }
    .navigation .logo {
    display: none;
    }
    .header ul li{
        font-size: 6px;
        
       }
   .navigation{
    flex-direction:column-reverse;
   }
   #rszxcghvbvhyfyjb{
    display: block;
   }
   .navigation .logoo img{
    width: 100px;
  }
  .inputcontainer{
    width: 100%;
   margin-top: 10px;
  }
  .nav{
   padding-bottom: 10px;
  }
}
@media screen and (max-width: 390px) {
  .header ul{
    
    display: flex;
    gap: 10px;
font-size: 5px;
   /* list-style-type: none; */
}
.header button{
padding: 0px;
height: 0%;text-align: center;
font-size: 8px;
  }
}
@media screen and (max-width: 720px) {
    .ffpage{
        height: 40%;
    }
}
@media screen and (max-width: 500px) {
    .papapop{
        width: 98%;
    }
}
.sspage{
    width: 100%;
    height: 100%;
   
    display: flex;justify-content: space-around;
    align-items: center;background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.aa1o{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}
.aa2o{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.aa1o img{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

/* CSS */
#openfan {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#openfan:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#openfan:after {
    z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}   
/* CSS */
.plplplplplplplplpl {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.plplplplplplplplpl:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.plplplplplplplplpl:after {
    z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}   
@keyframes rotateFan {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



#omkaba{
    padding: 7px;
    /* background-color: #002bff; */
}
.omshanti{
padding: 4px;
cursor: pointer;
text-align: center;
transition: all ease-in-out 0.1.5s;
}
.omshanti:hover{
background-color: rgba(0, 0, 0, 0.137);
}
@media screen and (max-width: 900px) {
    .sspage{
        width: 100%;
        height: 190%;
        flex-direction: column;
    }
    .aa1o{
        width: 70%;
        height: 30%;
    }
    .aa2o{
        width: 70%;
        height: 100%;
        flex-direction: column;
    }
   
  }
  
  .categorypage {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.portioncategory {
    width: 80%;
    /* background-color: blue; */
}
.portioncategory h1 {
    font-size: 40px;
    font-weight: 400;
}
.scroll-wrapper {
    overflow: hidden;
    position: relative;
}
.seccate {
    width: 100%;
    padding: 10px 0;
    user-select: none;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.seccate::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.samcate {
    width: 600px;
    height: 1%;
    padding: 0px 20px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    padding: 6px;
    text-align: center;
    transition: all ease-in-out 0.2.5s;
}
.samcate:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.samcate img {
    width: 100%;
    height: 100px;
}

.samcate h5{
font-size: 25px;
font-weight: 700;
}
#cateoppage{
    width: 100%;
  /* height: 100vh; */
  
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: center;
    display: none;
    background-color: rgb(255, 247, 247);
}
#cateoppageopppij{
    width: 80%;
    /* background-color: blue; */
}
#cateoppageh1{
    font-size: 25px;
font-weight: 700;
}
.cateopppageheader{
    width: 100%;
    display: flex;justify-content: space-between;
    align-items: center;
}
#back{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
color: black;
}
#back:hover{
    background-color: black
;color: white;
}
#cateoppagepokolo {
    width: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    text-align: center;
}

#cardf6ygy {
    width: 100%;
    cursor: pointer;
    height: 350px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.127);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardf6ygy img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#cardf6ygy h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

#cardf6ygy h3 {
    color: #F85606;
    font-size: 18px;
    font-weight: 670;
    margin: 5px 0;
}

#cardf6ygy h5 {
    font-size: 14px;
    color: gray;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    
   width: 80px;
   height: 50px;
    border: none;
    background-color: #F85606;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 850px) {
  #cateoppage{
    width: 100%;
    
  }
}
@media screen and (max-width: 400px) {
  #cateoppageh1{
    font-size: 18px;
    font-weight: 400;
  }
  #optext{
    width: 90%;
    text-align: center;
    font-size: 15px;
  }
}
#hyvcuniw{
    display: none;
}
#hyvchyvc{
    display: none;
}
#ljkflhvuyvyvyjkf{
    display: none;
}
#hhvhhhihy074{
    display: none;
}
#plojin{
    width: 100%;
    height: 100%;
   text-align: center;
}